<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="f617bd3d-63ba-451c-8501-74f6f3e07857" name="Sams Amiable  Harp Seal" alias="sams-amiable-harp-seal" type="Starter" color="" url="https://www.s1.umbraco.io/project/sams-amiable-harp-seal">
  <environment type="live" name="Live" id="8af246cb-2beb-4e19-924e-744bba38bcb2">https://sams-amiable-harp-seal.s1.umbraco.io</environment>
</environments>